<% meta title: "Pizzaiolo | Gourmet Pizzeria | Franchise Opportunities",
     description: "Own your very own Gourmet Pizzeria and become one of the family with Pizzaiolo franchise opportunities.  Learn more today!",
     keywords: "Pizzaiolo, Franchise Opportunities, Small Business, Pizza Franchise, Pizza Restaurant, Pizzeria, Own a business"
%>
<%
  content_for(:body_class) {"franchise_opportunities"}
%>
<%
	# content_for(:heading) {("own a piece <br>of the pie").html_safe}
	# content_for(:description) {""}
%>
<!--section class="">
	<div class="container">
		<%= render(:partial => 'common/title', 
			locals: { title: "own a piece 
			of the pie.", content: "" }
		) %>
	</div>
</section-->

<div class="franchise-new-page-wrap">
	<div class="franchise-banner" style="background-image: url('/assets/new_design/Storefront---Nightime.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
		<h2>ARE YOU OUR NEXT PIZZAIOLO?</h2>
	</div>
	<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>Pizza For Life.</h1>
					<hr>
					<h5>LET’S CHANGE HOW PEOPLE THINK OF PIZZA TOGETHER!</h5>
					<p>
						WITH A UNIFIED PASSION FOR QUALITY AND A COMMITTMENT
						TO SERVE OUR COMMUNITIES, OWNING A PIZZAIOLO IS A
						TREMENDOUS OPPORTUNITY TO BE PART OF A SUCCESFUL
						GROWING CONCEPT.
					</p>
			</div>	
		</div>
	</div>
	<div class="container">
	<div class="pink-strip">
			<div class="row align-items-center">
				<div class="col-md-2 col-6 text-center"><p>FAMILY OWNED & OPERATED SINCE 1999</p></div>
				<div class="col-md-2 col-6 text-center"><p>SAUCE & DOUGH MADE FRESH DAILY</p></div>
				<div class="col-md-2 col-6 text-center"><p>40+ LOCATIONS ACROSS ONTARIO</p></div>
				<div class="col-md-2 col-6 text-center"><p>PROJECTED GROWTH BY 2022 UP TO 100 LOCATIONS</p></div>
				<div class="col-md-2 col-6 text-center"><p>VEGETARIAN, VEGAN AND GLUTEN-FREE OPTIONS</p></div>
				<div class="col-md-2 col-6 text-center"><p>ORIGINAL GOURMET PIZZA CHAIN</p></div>				
			</div>
	</div>
	</div>
	</div>
	<div class="our-story-block">
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="story-title">OUR STORY</h2>
				<img src="/assets/new_design/story-bg.jpg" />
			</div>
			<div class="col-md-8">
				<h2>What is a “Pizzaiolo”?</h2>
				<h2 class="our-story-sub-title">Simply put, an “artisan pizza maker”.</h2>
					<div class="row">
						<div class="col-md-6">
							<h5 class="text-pink">HUMBLE BEGINNINGS</h5>
							<p>Our story begins in a small
								Italian town called Montorio,
								in the little-known Region
								of Molise. Before there were
								pizzerias, people would
								get their bread and pizza
								from a bakery. My grandparents, Peppino and Ida,
								opened their bakery in the
								1940’s, using only the finest
								ingredients and producing the
								finest products in the region.</p>
						</div>
						<div class="col-md-6">
							<h5 class="text-pink">PIZZAIOLO IS BORN</h5>
							<p>You could say Luigi
								Petrella was destined to
								be a Pizzaiolo, following in
								the footsteps of both his
								grand-parents and parents.
								Unable to find great quality,
								authentic pizza in Toronto,
								Luigi opened Pizzaiolo
								in November 2000. His
								mission, “I want people to
								know what a great pizza
								tastes like”.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h5 class="text-pink">ARRIVING IN CANADA</h5>
							<p>After emigrating to Canada
								and settling in Toronto in
								the 1960’s, my parents, Tony
								and Anna, along with my
								uncle Gino, opened their first
								Italian restaurant. In 1967, La
								Gondola opened at Wilson
								& Bathurst, serving the most
								delicious pasta & pizza in
								the city</p>
						</div>
						<div class="col-md-6">
							<h5 class="text-pink">VALUES</h5>
							<p>We started Pizzaiolo
								because of our “Love of
								Food”, and to this day, we
								are incredibly proud of
								our heritage and the fact
								we have not changed the
								quality of our pizza. With
								Love, Passion, Family and a
								commitment to Quality, we
								are proud to have served
								you, your friends and
								families for over 20 years.
								</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h5 class="text-pink">THE LATER YEARS</h5>
							<p>Following on the success of
								La Gondola, my father and
								uncle opened Pizza Gigi in
								1970, growing the business
								to three locations by 1973.
								What never changed was
								the use of the freshest and
								highest quality ingredients
								to produce exceptional
								pizza, crafted authentically,
								by genuine Pizzaiolos.</p>
						</div>
						<div class="col-md-6">
							<h5 class="text-pink">TODAY</h5>
							<p>We have grown to 40+
								locations in the GTA and
								are focused on bringing
								Pizzaiolo to communities
								throughout all Ontario.</p>
								<h4 class="green-patch-heading">RESPECT THE PIZZA.</h4>
						</div>
					</div>
			</div>
		</div>	
	</div>
	<div class="mt-5 position-relative">
		<img src="/assets/new_design/Franchisee-Making-Pizza_01.jpg" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<h4 class="img-top-title">WE ARE COMMITTED TO
			YOUR SUCCESS.
			WE HAVE A STRONG
			AND PASSIONATE TEAM
			PROVIDING LEADERSHIP
			AND SUPPORT ACROSS
			ALL AREAS.</h4>
				<h2 class="my-4">Over 50 years experience behind you.</h2>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5 class="text-pink">REAL ESTATE, CONSTRUCTION & DEVELOPMENT </h5>
				<p>We provide a turn-key operation. From location
					selection, through design and management
					of construction, our in-house team is with you
					every step of the way.</p>
					<h5 class="text-pink">PURCHASING </h5>
				<p>At Pizzaiolo, we purchase the highest quality
					ingredients, paper products and operating
					supplies available. We deliver direct to each of
					our locations.</p>
					<h5 class="text-pink">TRAINING </h5>
				<p>Our team provides a complete and comprehensive 2-3 month field training program.</p>
					<h5 class="text-pink">OPERATIONS </h5>
				<p>Our Field Based team provides ongoing
					support, guiding Franchisees with the
					implementation and execution of our standards
					and procedures.</p>
			</div>
			<div class="col-md-6">
				<h5 class="text-pink">MARKETING </h5>
				<p>Our Marketing team creates and implements
					multi-media, regional and local marketing
					campaigns.</p>
					<h5 class="text-pink">FINANCING </h5>
				<p>We can connect you with our preferred banking
					partners to assist with financing, loan inquiries
					and the preparation of a business plan. We are
					on the preferred franchise list with TD-Bank.</p>
					<h4 class="green-sub-heading">WE ARE 100% CANADIAN OWNED
						AND OPERATED. WE SOURCE OUR
						INGREDIENTS FROM CANADIAN
						FARMERS AND SUPPORT THE LOCAL
						COMMUNITIES WE EXPAND INTO.</h4>
			</div>
		</div>
	</div>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				<h2 class="fr-sec-title">WHAT DOES IT TAKE</h2>
				<ul class="pl-3">
					<li>Hands-on ownership is preferred</li>
					<li>Willingness to learn and try new ideas</li>
					<li>Entreprenurial spirit</li>
					<li>Pride in leading and motivating your team</li>
					<li>Commitment to deliver a great customer experience</li>
					<li>Enthusiasm for getting involved in the community</li>
				</ul>
				<div class="franchise-info-block">
					<div class="f-info-tab bg-fr-green">
						<p class="text-white"><span class="text-white">TYPICAL PIZZERIA</span> 1000-1500 SQ. FT. <br>(DINE IN • TAKE-OUT • DELIVERY)
						</p>
					</div>
					<div class="f-info-tab">
						<p><span>LIQUID CAPITAL</span> FROM 75K
						</p>
					</div>
					<div class="f-info-tab">
						<p><span>STARTUP COST</span> 275K - 375K
						</p>
					</div>
					<div class="f-info-tab">
						<p><span>FRANCHISE FEE</span> 25K
						</p>
					</div>
					<div class="f-info-tab">
						<p><span>ROYALTIES</span> 5%
						</p>
					</div>
					<div class="f-info-tab">
						<p><span>MARKETING</span> 1500/MONTH
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4"><img src="/assets/new_design/what-does-it-take_02.jpg" /></div>
		</div>
	</div>
</div>
	
	<%# <div class="page-background" style="background-image: url('/assets/new_design/franchise_opportunities.jpg'); background-repeat: no-repeat; background-size: cover;"></div> %>
	
<div class="container">

	<%# <div class="row page-sub-title block-style">
		<div class="col-12 col-md-7 sub-title">
			ARE YOU THE NEXT PIZZAIOLO?
		</div>
		<div class="col-12 col-md-12">
			<p>We’re not like other restaurants and certainly not like other pizza concepts. But if you have a passion for quality, value authenticity and believe in the importance of being a part of the community where you operate, then we should talk.</p>
			<p>Becoming a Pizzaiolo is not easy and it's not for everyone. It's not 9-5. It's challenging. But it's also rewarding and it's an opportunity to be part of a successful, growing concept.</p>
		</div>
	</div> %>

	<%# <div class="row">
		<div class="col-12 col-md-12 page-points">
			<h1 class="">Our Beliefs</h1>
		</div>
		<div class="col-12 col-md-12 sub-points">
			<h3 class="">Quality</h3>
			<p>Pizzaiolo operators are true pizza makers. We use only handmade, fresh-never frozen dough. Our tomato sauce is made fresh daily with Roma tomatoes. We use only the highest quality, freshly prepared and hand cut toppings. None of our products contain additives, preservatives, GMO foods or trans fats.</p>
			<h3 class="">Authenticity</h3>
			<p>Pizzaiolo has its roots in small Italian village. Using recipes and processes handed down over three generations of pizza makers, we pride ourselves on producing a consistently better tasting oven baked pizza. Our menu, our restaurants and our genuine hospitality reflect our authentic Italian heritage.</p>
			<h3 class="">Community</h3>
			<p>Since the beginnings in the small Italian village of Montorio, Pizzaiolo has been an active part of our communities. Our pizza makers are proud to support local groups and community events.</p>
			<p>These are the pillars of the Pizzaiolo brand. They’re what make us different than other concepts and we live them every day. If you share our beliefs and have the skills, commitment and passion to be part of our family, we’d love to talk.</p>
			<h3 class="">Some things you need to know</h3>
			<ul class="page-list">
				<li>Pizzaiolo franchisees must have at least $80,000 in unencumbered working capital</li>
				<li>Financial soundness is a requirement</li>
				<li>New Pizzaiolo Franchisees must commit to our New Partner Training Program</li>
				<li>We franchise only to individuals willing to be hands on operators (No corporations or passive investors)</li>
				<li>A typical store build is approximately $300,000</li>
			</ul>
			
		</div>
	</div> %>

	<div class="row page-sub-title block-style-01">
			<%# <div class="col-12">
					<p>If you think you meet the above prerequisites, please complete and submit the form below. Someone from Head Office will contact you within 24 hours. Thank you for your interest in expanding the Pizzaiolo Family!</p>
			</div> %>
		<div id="franchise_enquiry_form_title" class="col-md-7 sub-title sub-block-style text-pink">
			CONTACT US
		</div>
		<p>We’re expanding right now, so it's a great time to become a
Pizzaiolo. We’re ready to talk to interested people like you!</p>
	</div>

	<div id="franchise_enquiry_form" class="row">
		<div class="col-12 col-md-10">
			<% @franchise_enquiry = FranchiseEnquiry.new %>
			<%= simple_form_for @franchise_enquiry, :remote => true, :html => {:class => 'default-form inline-fields'} do |f| %>
			<div class="row form-decor">
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :first_name, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'First Name', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :last_name, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'Last Name', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :city, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'City', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :address_1, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'Address 1', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :address_2, :required => false, :input_html => {:class => ""}, :placeholder => 'Address 2(e.g. unit #574 or apt# 267)', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :email, :required => true, :input_html => {:class => "validate[required,custom[email]]"}, :placeholder => 'E-mail', :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<%= f.input :phone, :required => true, :input_html => {:class => "validate[required,custom[phone]]"}, :placeholder => 'Phone number', :label => false %>	
				</div>
				<div class="col-12 col-md-3 form-control-decor">
					<%= f.input :province, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'Province', :label => false %>
				</div>
				<div class="col-12 col-md-3 form-control-decor">
					<%= f.input :postal_code, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => 'Postal Code', :label => false %>
				</div>
				<div class="col-12 col-md-12 form-control-decor">
					<div class="form-inner-title">questions.</div>
				</div>
				<div class="col-12 col-md-12 form-control-decor">
					<%= f.input :preferred_territory, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => "Preferred Territory", :label => false %>
				</div>
				<div class="col-12 col-md-12 form-control-decor">
					<%= f.input :how_soon, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => "How soon would you like to be in business?", :label => false %>
				</div>
				<div class="col-12 col-md-12 form-control-decor">
					<%= f.input :how_did_you_hear_about_us, :required => true, :input_html => {:class => "validate[required]"}, :placeholder => "How did you hear about us?", :label => false %>
				</div>
				<div class="col-12 col-md-6 form-control-decor">
					<div class="control-group select ">
						<div class="controls">
							<%= show_simple_captcha(:object => "franchise_enquiry") %>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 form-control-decor">
					<%= f.button :submit, "SUBMIT", :class => "btn-green page-btn" %>
				</div>
				
			<% end %>
			</div>
		</div>
	</div>

	<div id="franchise_enquiry_form_error" style="display:none;">
		<div class="col-12">
			<div class="row page-sub-title block-style-01">
					<p><strong>There was an error sending your enquiry. Please check your details and try again.</strong><br></p>
			</div>
		</div>
	</div>
	<div id="franchise_enquiry_form_message" style="display:none;">
			<div class="col-12">
				<div class="row page-sub-title block-style-01">
						<p class="lead"><strong>Thank you for your interest in expanding the Pizzaiolo Family!</strong></p>
				</div>
			</div>
	</div>
</div>


<%# Popup %>
<div id="newstores-backdrop" class="popup-backdrop">
	<div id="newstores" class="container zero-contact-message">
		<div class="zero-header">
			<div class="zero-title"></div>
			<div id="close-btn-newstore-popup">
				<img src="/assets/new_design/popup-close.svg" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="zero-contact-content" style="font-size:20px; margin-top:10px; text-align:center; line-height: 1.5; margin-bottom: 10px;">PIZZAIOLO <br>OPENING SOON</div>
				<div class="zero-description">
					<ul style="padding-left:0px; line-height:2; color: #009949; font-weight: 700; font-size: 18px; list-style:none; text-align:center;">
						<li>North Mississauga</li>
						<li>North Oakville</li>
						<li>Brampton</li>
						<li>Woodbridge</li>
						<li>Aurora</li>
						<li>Hamilton</li>
						<li>Markham</li>
						<li>Scarborough</li>
					</ul>
				</div>
				<div class="zero-contact-exit-btn">
					<%# <a href="javascript:void(0);" id="close-btn-welcome-popup" class="btn-green">continue</a> %>
				</div>
			</div>
		</div>
	</div>
</div>