<div class="row">
  <div class="col-12 col-md-6">
    <h2 class="about-content"><%= about_title %></h2>
    <p class=""><%= about_content %></p>
    <p class=""><%= about_content_2 %></p>
  </div>
  <div class="col-12 col-md-6 text-center">
    <img class="about-content-img" src="<%= about_image %>" alt="<%= about_image_alt %>">
  </div>
</div>