<% if current_admin %>

<div class="row">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand admin-sys" href="/admins">Admin System</a>
			<ul class="nav">
				
				<li class="dropdown">
					<a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
						Orders
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="<%= if params[:controller] == "admins/yesterdays_orders" then "active" end %>"><%= link_to "Yesterdays Orders", admins_yesterdays_orders_path %></li>
						<li class="<%= if params[:controller] == "admins/todays_orders" then "active" end %>"><%= link_to "Todays Orders", admins_todays_orders_path %></li>
						<li class="divider"></li>
						<li class="<%= if params[:controller] == "admins/order_printer_status" then "active" end %>"><%= link_to "Order Printer Status", admins_order_printer_status_path %></li>
					</ul>
				</li>
				
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Recipe Presets
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="<%= if params[:controller] == "admins/calzone_presets" then "active" end %>"><%= link_to "Calzone Presets", admins_calzone_presets_path %></li>
						<li class="<%= if params[:controller] == "admins/pizza_presets" then "active" end %>"><%= link_to "Pizza Presets", admins_pizza_presets_path %></li>
						<li class="<%= if params[:controller] == "admins/toppings" then "active" end %>"><%= link_to "Toppings", admins_toppings_path %></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Additonal Items
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="<%= if params[:controller] == "admins/salads" then "active" end %>"><%= link_to "Salads", admins_salads_path %></li>
						<li class="<%= if params[:controller] == "admins/beverages" then "active" end %>"><%= link_to "Beverages", admins_beverages_path %></li>
						<li class="<%= if params[:controller] == "admins/garlic_breads" then "active" end %>"><%= link_to "Garlic Breads", admins_garlic_breads_path %></li>
						<li class="<%= if params[:controller] == "admins/cannolis" then "active" end %>"><%= link_to "Cannolis", admins_cannolis_path %></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						General
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="<%= if params[:controller] == "admins/franchise_locations" then "active" end %>"><%= link_to "Franchise Locations", admins_franchise_locations_path %></li>
						<li class="<%= if params[:controller] == "admins/flyers" then "active" end %>"><%= link_to "Flyers", admins_flyers_path %></li>
						<li class="<%= if params[:controller] == "admins/ad_boxes" then "active" end %>"><%= link_to "Ad Boxes", admins_ad_boxes_path %></li>
						<li class="<%= if params[:controller] == "admins/discount_codes" then "active" end %>"><%= link_to "Discount Codes", admins_discount_codes_path %></li>
						<!--<li class="<%= if params[:controller] == "admins/discount_code_filters" then "active" end %>"><%= link_to "Discount Code Filters", admins_discount_code_filters_path %></li>-->
					</ul>
				</li>
				
				<% if current_admin && current_admin.edit_admins? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						System
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="<%= if params[:controller] == "admins/admins" then "active" end %>"><%= link_to "Admins", admins_admins_path %></li>
					</ul>
				</li>
				<% end %>
				
				<li>
					<% if Rails.env.production? %>
						<%= link_to "Log Out", destroy_admin_session_url(:protocol => "https"), :method => :delete %>
					<% else %>
						<%= link_to "Log Out", destroy_admin_session_url, :method => :delete %>
					<% end %>		
				</li>
				
			</ul>
		</div>
	</div>
</div>
<% end %>