<% meta title: "Pizzaiolo | Pizza Delivery Toronto | Gourmet Pizza | Take Out Pizza",
     description: "Toronto's best pizza, Toronto's best gourmet pizza, high quality pizza, toronto pizza catering, toronto pizza company, online pizza, order pizza online, pizza delivery company Toronto, Pizza delivery Toronto, best pizza delivery Toronto. Non gmo pizza, take out pizza Toronto. Non gmo pizza.",
     keywords: "Gourmet Pizza Toronto"
%> 
<section>
  <div class="container">
    <div class="home-content-panel">
      <div class="row">
        <div class="col-12 col-sm-12">
          <h2>Help Pick Our Next Pizzaiolo Pizza AND WIN A $100 GIFT CARD</h2>
          <p>Choose your favorite from Chief Pizzaiolo Luigi's latest creations:</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="mobile-card-row contests-page catering-content">
    <div class="span12" id="">
      <div class="media-list order-pizza-card row">
        <div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">FRANKIE VALLI</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/FRANKIE_VALLI.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-12">A delicious 4 topping meat pizza with a tasty combination of artichokes, ham, mushrooms and black olives.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="FRANKIE_VALLI"  class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
				<div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">HONEY HEAT</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/HONEY_HEAT.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-12">The perfect combination of spice and sweetness. Double sopressata and chili flakes drizzled with fresh honey.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="HONEY_HEAT"  class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">VEGAN GODMOTHER</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/VEGAN_GODMOTHER.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-12">Our newest deep dish creation for hungry vegans. Generously topped with zucchini, red peppers, black olives and caramelized onions.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="VEGAN_GODMOTHER"  class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
				<div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">CHICKEN CHIPOTLE</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/CHICKEN_CHIPOTLE.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-15">Heat and meat! The perfect combination of chicken, pineapple, onions and chipotle sauce.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="CHICKEN_CHIPOTLE"  class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
				<div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">TANDOORI VEG</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/TANDOORI_VEG.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-15">A tandoori twist on a veggie pizza. With mushrooms, green peppers, onions and tandoori sauce.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="TANDOORI_VEG" class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
				<div class="col-12 col-md-4 single-contests product_display ">
          <div class="pizza-contest-list">
						<h2 class="card-title">PESTO RICOTTA</h2>
            <div class="product-image">
							<img alt="Bianca" src="/assets/pizza-contest/PESTO_RICOTTA.jpg">
						</div>
            <div class="card-data">
              <p class="padding-lr-15">A delicious new vegetarian delight, topped with fresh ricotta cheese, red peppers, black olives and pesto.</p>
              <div class="bottom-button"><a href="javaScript:void(0)" data-pizza-name="PESTO_RICOTTA"  class="button default mobile-card-btn">VOTE</a></div>
            </div>
          </div>
        </div>
			 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 contest-copy margin-bottom-20">
      <p>(a) Head on over to our Instagram page <a href="https://www.instagram.com/pizzaiologourmetpizza/" target="_blank">@pizzaiologourmetpizza</a> for additional entries</p>
      <p>(b) Rules and Regulations:</p>
      <p>This contest is open to residents of Ontario only and who are age of majority. Contest will start on January 13th, 2020 and end on February 2nd, 2020. One entry per person. Must have a valid email address.</p>
      <p>This prize has no cash value.</p>
      <p>Winners will be selected by random draw and will be notified on February 3rd, 2020 via email.</p>
      <p>By entering you represent to Pizzaiolo that you meet the eligibility criteria, and you agree to these rules.</p>
    </div>
  </div>
</div>
 


<div id="contestsModal" class="modal" tabindex="12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3 class="static-header green">Please fill below infomation</h3>
	</div>
  <%= simple_form_for(@pizza_contest_vote, :html => {:class => 'default-form inline-fields' }) do |f| %>
    <div class="modal-body">
      <div class="row">
          <div class="col-12 col-md-12">
            <div class="row form-decor">
              <div class="col-12 col-md-12 form-control-decor">
                <%= f.input :first_name, :required => true, :input_html => {:class => "validate[required]"}, :label => false, :placeholder => "First Name" %>
              </div>
              <div class="col-12 col-md-12 form-control-decor">
                <%= f.input :last_name, :required => true, :input_html => {:class => "validate[required]"}, :label => false, :placeholder => "Last Name" %>
              </div>
              <div class="col-12 col-md-12 form-control-decor">
                <%= f.input :email, :required => true, :input_html => {:class => "validate[required,custom[email]]"}, :label => false, :placeholder => "E-mail" %>
              </div>
              <div class="col-12 col-md-12 form-control-decor">
                <%= f.input :phone, :required => false, :input_html => {:class => "validate[required]"}, :label => false, :placeholder => "Phone" %>
              </div>
              <div class="col-12 col-md-12 form-control-decor hide">
                <%= f.input :pizza_name, :required => true, :input_html => {:class => ""}, :label => false, :placeholder => "" %>
              </div>
          </div>
        </div>
    </div>
    <div class="modal-footer text-center">
      <a class="cancel-contests" style="" data-dismiss="modal" aria-hidden="true" id="cancelContests">Cancel</a>
      <%= f.button :submit, "VOTE.", :class => "submit-contests mrt5 button default" %>
    </div>
  <% end %>
</div>